body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.bg{
    width: 1900px;
    height: 995px;
    background: url('https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:7479f744-bd1a-490b-96ee-ac133bc1200f;revision=0?component_id=d926238c-65a9-4391-8d39-c88d374ad78b&api_key=CometServer1&access_token=1656873048_urn%3Aaaid%3Asc%3AUS%3A7479f744-bd1a-490b-96ee-ac133bc1200f%3Bpublic_a858581e89c29ee585bb4495396891636d44371d');
    display: inline-block;
}
.search{
    display: inline-block;
    width: 1500px;
    height: 50px;
    border: solid black;
    border: 3px;
    background-color: white;
    color: rgb(142, 215, 228);
    border-radius: 50px;
    padding-left: 10px;
    font-size: 25px;
}
.box{
    display: inline-block;
    margin-left: 120px;
    width: 1520px;
    height: 700px;
    border: solid black;
    border: 1px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
}
.box h3
{
    display: inline-block;
    margin-top: 10px;
    width: 500px;
    height: 80px;
    background-color: palevioletred;
    color: white;
    border-radius: 50px;
    padding-left: 20px;
    text-align: center;
    font-size: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.box p{
    display: inline-block;
    width: 1520px;
    height: 25px;
    margin-top: -250px;
    background-color: aliceblue;
    color: red;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.courses{
    display: inline-block;
}
.courses h2{
    width: 200px;
    height: 50px;
    background: #3D4F68;
    border: 1px solid #707070;
    border-radius: 40px 150px;
    margin-left: 100px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box2{
    width: 200px;
    height: 350px;
    background: #EECCCC;
    border: 1px solid #707070;
    margin-left: 100px;

}
.box3 img{
    display: inline-block;
    width: 190px;
    height: 150px;
    border: 1px solid #707070;
    border-radius: 75px;
    margin-top: 5px;
    margin-left: 5px;
    object-fit: cover;
}
.box4{
    width: 190px;
    height: 125px;
    border: 1px solid white;
    background-color: white;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box4 p{
    width: 120px;
    height: 30px;
    border-radius: 19px;
    font: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btm p{
    background-color: blueviolet;
    text-align: center;
    font-size: 22px;
    color: white;
    padding-bottom: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}